{% extends 'base.html.twig' %}


{% block body %}
    <a href="/rooms">
        <input type="button" value="Niestety wszystkie pokoje tego typu sa zajete w podanym przez ciebie terminie. Spróbuj z innym typem pokoju" />
    </a>

{% endblock %}